.product-card
    img
        width: 50%
        height: 380px
        background-color: #f5f5f5

    .card-content
        margin-top: 32px
        
        .productName
            font-size: 22px
            color: black

        .productDescription
            font-size: 18px
            color: grey

        .productName
            font-size: 22px
            color: black
            font-weight: 600