
    
.product-container 
    width: 100% 
    
    justify-content: center
    align-item: center
    
    
.product-header-section
    display: flex
    flex-direction: column 
    text-align: center
    width: 70%
    margin-left: 250px
    
    
    .title
        font-size: 54px 
        color: #141616 
        margin-bottom: 8px 

    .product-description
        font-size: 18px 
        color: #646867 
        justify-content: center

.product-section
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 48px
    margin-left: 50px
    gap: 23px
    *
        width: calc(calc(100%/3) - (23px * 2))
        
        
