<div class="product-container">

    
    <div class="product-search">
        <div class="search-hero">
            <input type="text" [(ngModel)]="term" placeholder="Search by Name"/>
            <button type="submit" class="searchButton">
        
            </button>
        </div>

    </div>

    <div class="product-header-section">
        <p class="title">Retail Shop</p>
        
        <p class="product-description">Welcome to E-Cart..</p>
    </div>

   

    <div class="product-sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="product-section">
        
        <app-product-card *ngFor="let item of products | filter: term"  [product] = "item"  ></app-product-card>
        
        
    </div>

    
</div>
