<nav>
    <ul>
        <li>
            <a href="#" class="logo">
                <img src="../../../assets/images/hamburger.png" alt="icon">
                
            </a>
        </li>
        <li><a href="#">
            
            <span class="nav-item">Products</span>
        </a></li>
        <li>
            <a routerLink="/cart" routerLinkActive="active" class="nav-item">Cart</a>
        </li>
        <li><a href="#">
            <span class="nav-item">Orders</span>
        </a></li>
        <li><a href="#">
            <span class="nav-item">Checkout</span>
        </a></li>
        
        
    </ul>
</nav>